:root {
  --bs-body-font-family: 'Poppins', sans-serif;
}

a {
    color: #000;
    text-decoration: underline;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.text-main {
  color: #e62129;
}

.current-price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #2c3e50;
}

.btn-outline-main{
    color: #e62129;
    background-color:  #fff;
    border-color:  #e62129;
}

.btn-outline-main:hover {
    color: #fff;
    background-color:  #e62129;
    border-color:  #e62129;
}

.btn-outline-main-black{
    color: #6c757d;
    background-color:  transparent;
    border: 1px solid #6c757d !important;
}
.btn-outline-main-black:hover {
  background: #6c757d;
  color: white;
}

.btn-main{
    color: #fff;
    background-color:  #e62129;
    border-color:  #e62129;
}

.btn-main:hover{
    color: #e62129;
    background-color:  #fff;
    border-color:  #e62129;
}


.bg-main{
  background-color: #e62129;
}

/* .bg-breadcrumb {
  background-color: #eeeeee;
} */


li.nav-item {
  font-weight: 600;
}

.logo-gg {
  max-width: 150px;
}

.banner-left-icon
 {
    background: #f4f6fa;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

@media (max-width: 1440px) {
    .banner-left-icon {
        display: block !important;
        text-align: center;
    }
}

.btn-sarch {
  background-color: #e62129;
  color: #fff;
  border-color: #e62129;
}

button.btn.location-button {
  color:#e62129;
}

ul li a {
  color: #000;
  /* color: #e62129 !important; */
  text-decoration: none;
}

ul li a:hover {
  color: #e62129 !important;
  text-decoration: underline;
}

.hover-text-main:hover {
  color: #e62129 !important;
}

@media (max-width: 991px) {
  .hide-mobile { display: none !important;}
  .social-header { display: none !important;}
}

.text-main-thin {
    color: #ffbdc0;
}

button.btn.btn-outline-main.active {
    color: #fff !important;
    background-color: #E62128 !important;
    border: 1px solid #E62124;
}

/* .form-check-input:checked {
    background-color: #e62129;
    border-color: #e62129;
}

.form-check-input:hover {
    background-color: #e62129;
    border-color: #e62129;
} */